
@{
    ViewBag.Title = "Index";
}
<link href="~/css/lienhe.css" rel="stylesheet" />
<body>
    <div class="contact-container">

        <!-- Phần liên hệ qua Zalo -->
        <div class="zalo-section">
            <h2>Liên hệ qua Zalo</h2>
            <p>Quét mã QR hoặc nhấn nút bên dưới để kết nối ngay với Trung tâm Thú y Cá Koi.</p>
            <div class="qr-code">
                <img src="~/images/zalo.pgd.jpg" />
            </div>
            <a href="https://zalo.me/036468477" class="contact-button">Kết nối ngay</a>
        </div>

        <!-- Phần bản đồ -->
        <div class="map-section">
            <h2>Địa chỉ trung tâm</h2>
            <p>71 Đ. Tô Ký</p>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15672.658630994612!2d106.611559!3d10.875078!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a0a68720521%3A0x2c5c1681b785294e!2zNzEgxJAuIFTDtCBLw70sIEtodSBwaOG7kSAyLCBRdeG6rW4gMTIsIEjhu5MgQ2jDrSBNaW5oIDcwMDAwLCBWaWV0bmFt!5e0!3m2!1sen!2sus!4v1731983715966!5m2!1sen!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</body>



